/doc export-ignore
/tests export-ignore
/.* export-ignore
/phpstan* export-ignore
/phpunit.xml.dist export-ignore
/_config.yml export-ignore
/UPGRADE.md export-ignore
/.editorconfig export-ignore
/src.* export-ignore

/src/Monolog/Test export-ignore

/src/Monolog/Formatter/ChromePHPFormatter.php export-ignore
/src/Monolog/Formatter/ElasticaFormatter.php export-ignore
/src/Monolog/Formatter/MailHandler.php export-ignore
/src/Monolog/Formatter/ElasticsearchFormatter.php export-ignore
/src/Monolog/Formatter/FlowdockFormatter.php export-ignore
/src/Monolog/Formatter/FluentdFormatter.php export-ignore
/src/Monolog/Formatter/GelfMessageFormatter.php export-ignore
/src/Monolog/Formatter/GoogleCloudLoggingFormatter.php export-ignore
/src/Monolog/Formatter/JsonFormatter.php export-ignore
/src/Monolog/Formatter/LogglyFormatter.php export-ignore
/src/Monolog/Formatter/LogmaticFormatter.php export-ignore
/src/Monolog/Formatter/LogstashFormatter.php export-ignore
/src/Monolog/Formatter/MongoDBFormatter.php export-ignore
/src/Monolog/Formatter/SyslogFormatter.php export-ignore
/src/Monolog/Formatter/ScalarFormatter.php export-ignore
/src/Monolog/Formatter/WildfireFormatter.php export-ignore

/src/Monolog/Handler/Curl export-ignore
/src/Monolog/Handler/FingersCrossed export-ignore
/src/Monolog/Handler/Slack export-ignore
/src/Monolog/Handler/SyslogUdp export-ignore
/src/Monolog/Handler/ChromePHPFormatter.php export-ignore
/src/Monolog/Handler/AbstractSyslogHandler.php export-ignore
/src/Monolog/Handler/AmqpHandler.php export-ignore
/src/Monolog/Handler/BrowserConsoleHandler.php export-ignore
/src/Monolog/Handler/SwiftMailerHandler.php export-ignore
/src/Monolog/Handler/SlackbotHandler.php export-ignore
/src/Monolog/Handler/RavenHandler.php export-ignore
/src/Monolog/Handler/HipChatHandler.php export-ignore
/src/Monolog/Handler/BufferHandler.php export-ignore
/src/Monolog/Handler/ChromePHPHandler.php export-ignore
/src/Monolog/Handler/CouchDBHandler.php export-ignore
/src/Monolog/Handler/CubeHandler.php export-ignore
/src/Monolog/Handler/DeduplicationHandler.php export-ignore
/src/Monolog/Handler/DoctrineCouchDBHandler.php export-ignore
/src/Monolog/Handler/DynamoDbHandler.php export-ignore
/src/Monolog/Handler/ElasticaHandler.php export-ignore
/src/Monolog/Handler/ErrorLogHandler.php export-ignore
/src/Monolog/Handler/FallbackGroupHandler.php export-ignore
/src/Monolog/Handler/FilterHandler.php export-ignore
/src/Monolog/Handler/FingersCrossedHandler.php export-ignore
/src/Monolog/Handler/FirePHPHandler.php export-ignore
/src/Monolog/Handler/FleepHookHandler.php export-ignore
/src/Monolog/Handler/FlowdockHandler.php export-ignore
/src/Monolog/Handler/GelfHandler.php export-ignore
/src/Monolog/Handler/GroupHandler.php export-ignore
/src/Monolog/Handler/HandlerWrapper.php export-ignore
/src/Monolog/Handler/IFTTTHandler.php export-ignore
/src/Monolog/Handler/InsightOpsHandler.php export-ignore
/src/Monolog/Handler/LogEntriesHandler.php export-ignore
/src/Monolog/Handler/LogglyHandler.php export-ignore
/src/Monolog/Handler/LogmaticHandler.php export-ignore
/src/Monolog/Handler/MandrillHandler.php export-ignore
/src/Monolog/Handler/MissingExtensionException.php export-ignore
/src/Monolog/Handler/MongoDBHandler.php export-ignore
/src/Monolog/Handler/NativeMailerHandler.php export-ignore
/src/Monolog/Handler/NewRelicHandler.php export-ignore
/src/Monolog/Handler/NoopHandler.php export-ignore
/src/Monolog/Handler/NullHandler.php export-ignore
/src/Monolog/Handler/OverflowHandler.php export-ignore
/src/Monolog/Handler/PHPConsoleHandler.php export-ignore
/src/Monolog/Handler/PsrHandler.php export-ignore
/src/Monolog/Handler/PushoverHandler.php export-ignore
/src/Monolog/Handler/RedisHandler.php export-ignore
/src/Monolog/Handler/RedisPubSubHandler.php export-ignore
/src/Monolog/Handler/RollbarHandler.php export-ignore
/src/Monolog/Handler/RotatingFileHandler.php export-ignore
/src/Monolog/Handler/SamplingHandler.php export-ignore
/src/Monolog/Handler/SendGridHandler.php export-ignore
/src/Monolog/Handler/SlackHandler.php export-ignore
/src/Monolog/Handler/SlackWebhookHandler.php export-ignore
/src/Monolog/Handler/SocketHandler.php export-ignore
/src/Monolog/Handler/SqsHandler.php export-ignore
/src/Monolog/Handler/SymfonyMailerHandler.php export-ignore
/src/Monolog/Handler/SyslogHandler.php export-ignore
/src/Monolog/Handler/SyslogUdpHandler.php export-ignore
/src/Monolog/Handler/TelegramBotHandler.php export-ignore
/src/Monolog/Handler/TestHandler.php export-ignore
/src/Monolog/Handler/WebRequestRecognizerTrait.php export-ignore
/src/Monolog/Handler/WhatFailureGroupHandler.php export-ignore
/src/Monolog/Handler/ZendMonitorHandler.php export-ignore
/src/Monolog/Handler/ZendMonitorHandler.php export-ignore
/src/Monolog/Handler/MailHandler.php export-ignore
/src/Monolog/Handler/ElasticSearchHandler.php export-ignore
/src/Monolog/Handler/ProcessHandler.php export-ignore

/src/Monolog/Attribute export-ignore
/src/Monolog/Processor/ClosureContextProcessor.php export-ignore
/src/Monolog/Processor/GitProcessor.php export-ignore
/src/Monolog/Processor/HostnameProcessor.php export-ignore
/src/Monolog/Processor/MemoryPeakUsageProcessor.php export-ignore
/src/Monolog/Processor/MemoryProcessor.php export-ignore
/src/Monolog/Processor/MemoryUsageProcessor.php export-ignore
/src/Monolog/Processor/MercurialProcessor.php export-ignore
/src/Monolog/Processor/ProcessIdProcessor.php export-ignore
/src/Monolog/Processor/PsrLogMessageProcessor.php export-ignore
/src/Monolog/Processor/TagProcessor.php export-ignore
/src/Monolog/Processor/UidProcessor.php export-ignore
/src/Monolog/Processor/WebProcessor.php export-ignore